<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.aurorawatchdevs.aurorawatch" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="org.aurorawatchdevs.aurorawatch.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="org.aurorawatchdevs.aurorawatch.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/appName"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.aurorawatchdevs.aurorawatch.activity.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.aurorawatchdevs.aurorawatch.activity.SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName="org.aurorawatchdevs.aurorawatch.activity.MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.aurorawatchdevs.aurorawatch.activity.MainActivity" />>
        </activity>

        <service
            android:name="org.aurorawatchdevs.aurorawatch.service.ActivityTxtService"
            android:exported="false" />
        <service
            android:name="org.aurorawatchdevs.aurorawatch.service.Past24HrService"
            android:exported="false" />
        <receiver
            android:name="org.aurorawatchdevs.aurorawatch.AuroraWatchUKReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.aurorawatchdevs.aurorawatch.ALARM" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="org.aurorawatchdevs.aurorawatch" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
            </intent-filter>
        </receiver>
        <service
            android:name="org.aurorawatchdevs.aurorawatch.NotificationListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
    </application>
</manifest>
