<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.aurorawatchdevs.aurorawatch" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/appName"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.aurorawatchdevs.aurorawatch.activity.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.aurorawatchdevs.aurorawatch.activity.SettingsActivity"
            android:label="@string/title_settings"
            android:parentActivityName="org.aurorawatchdevs.aurorawatch.activity.MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.aurorawatchdevs.aurorawatch.activity.MainActivity" />>
        </activity>

        <service
            android:name="org.aurorawatchdevs.aurorawatch.service.ActivityTxtService"
            android:exported="false" />
        <service
            android:name="org.aurorawatchdevs.aurorawatch.service.Past24HrService"
            android:exported="false" />
        <receiver
            android:name="org.aurorawatchdevs.aurorawatch.AuroraWatchUKReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.aurorawatchdevs.aurorawatch.ALARM" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
